<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1> INFO of a Blog </h1>
    <a href="/blogs">All Blogs</a>
    <ul id="showPage">
        <p> <span> Id</span> - <%= foundBlog.id %> </p>
        <p> <span> Username</span> - <%= foundBlog.username %> </p>
        <p> <span> Blog</span> - <%= foundBlog.blog %> </p>
    </ul>

</body>
</html>